[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "traipse"]
	path = traipse
	url = https://github.com/trackage/traipse
[submodule "trip"]
	path = trip
	url = https://github.com/trackage/trip
[submodule "tripEstimation"]
	path = tripEstimation
	url = https://github.com/trackage/tripestimation
